*, 
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: normal;
  overflow-x: hidden;
  min-height: 100vh;
  color: #fff;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
  padding-top: 65px;
  position: relative;
}

.wrapper {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}