@font-face {
    font-family: 'Font Name';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/font.woff2') format('woff2'),
        url('./fonts/font.woff') format('woff');
    font-display: swap;
} 