.menu {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__item {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }

    @media all and (max-width:1210px) {
      background: pink;
    }
  }

  &__link {
    text-decoration: none;

    &:hover,
    &:focus {
      outline: none;
    }

    @media all and (max-width:1210px) {
      color: red;
    }
  }
}